<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Happy Christmas</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="#" class="logo">
                    <img src="../public/images/icons/noel_icon.svg" alt="Senhor com barba branca, gorro vermelho, representando o papai noel">
                    Happy Christmas
                </a>
                <ul class="menu">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Accessories</a>
                    </li>
                    <li>
                        <a href="">Donation</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="container-card">
                <div class="text">
                    <h1 class="main-title">Happy Christmas and Happy New Year</h1>
                    <p>
                        Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal.
                    </p>
                    <a href="" class="btn-donation">
                        <img src="../public/images/icons/gift_icon.svg" alt="Caixa de presente.">
                        Fazer uma doação
                    </a>
                </div>
                <img src="../public/images/send.png" alt="Duas mãos, uma com um presente, entregando para a outra mão." id="send">
            </div>
        </div>
    </header>
    <main>
        <article class="accessories">
            <div class="container">
                <h2 class="main-title">Accessories</h2>
                <p>
                    Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal.
                </p>
                <ul class="list-categories">
                    <li>
                        <img src="../public/images/gift.png" alt="Caixa de presente, com um laço amarelo.">
                        <strong class="item-title">Gifts</strong>
                        <p class="item-description">Eles são os melhores presentes que existem.</p>
                    </li>
                    <li>
                        <img src="../public/images/bells.png" alt="Dois sinos com um laço vermelho">
                        <strong class="item-title">Ornaments</strong>
                        <p class="item-description">Dê uma decoração.</p>
                    </li>
                    <li>
                        <img src="../public/images/christmas_cane.png" alt="Bengala doce, com listras vermelhas e brancas.">
                        <strong class="item-title">Candy</strong>
                        <p class="item-description">Aproveite os doces natalinos.</p>
                    </li>
                    <li>
                        <img src="../public/images/sock.png" alt="Uma meia vermelha com a ponta verde pendurada na lareira.">
                        <strong class="item-title">Very love</strong>
                        <p class="item-description">Aproveite os sentimentos que duram para sempre.</p>
                    </li>
                </ul>
            </div>
        </article>
        <article class="celebrate">
            <div class="container">
                <img src="../public/images/shared.png" alt="Duas mãos segurando um presente." id="send_gift">
                <div class="text-celebrate">
                    <h2 class="main-title">Celebrate with much love!</h2>
                    <p>
                        Nestes feriados, festeje com muito amor e paz, oferecendo muitas bênçãos aos nossos entes queridos, amigos e vizinhos, desejando-lhes um Feliz Natal.
                    </p>
                    <a href="" class="btn-donation">
                        <img src="../public/images/icons/gift_icon.svg" alt="Caixa de presente.">
                        Fazer uma doação
                    </a>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <div class="container">
            <a href="#" class="logo">
                <img src="../public/images/icons/noel_icon.svg" alt="Senhor com barba branca, gorro vermelho, representando o papai noel">
                Happy Christmas
            </a>
            <ul>
                <li>
                    <a href="">
                        <img src="../public/images/icons/twitter.svg" alt="Passaro azul, simbolizando a logo da rede social Twitter.">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../public/images/icons/youtube.svg" alt="Retangulo com um triangulo virado para a direita, representando a logo do Youtube.">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../public/images/icons/linkedin.svg" alt="A letra 'i' e 'n', representando a logo da rede social LinkedIn.">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../public/images/icons/instagram.svg" alt="Quadrado com uma bola no meio, representando a logo da rede social Instagram.">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../public/images/icons/facebook.svg" alt="A letra 'f', representando a logo da rede social Facebook.">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>