<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Christmas</title>
</head>
<body>
    <nav>
        <a href="#">
            <img src="../public/images/icons/noel_icon.svg" alt="Senhor com barba branca, gorro vermelho, representando o papai noel">
            Happy Christmas
        </a>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Accessories</a>
            </li>
            <li>
                <a href="">Donation</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Happy Christmas and Happy New Year</h1>
        <p>
            Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal.
        </p>
        <a href="">
            <img src="../public/images/icons/gift_icon.svg" alt="Caixa de presente.">
            Fazer uma doação
        </a>

        <img src="../public/images/send.png" alt="Duas mãos, uma com um presente, entregando para a outra mão.">
    </header>
    <main>
        <article>
            <h2>Accessories</h2>
            <p>
                Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal.
            </p>
            <ul>
                <li>
                    <img src="../public/images/gift.png" alt="Caixa de presente, com um laço amarelo.">
                    <strong>Gifts</strong>
                    <p>Eles são os melhores presentes que existem.</p>
                </li>
                <li>
                    <img src="../public/images/bells.png" alt="Dois sinos com um laço vermelho">
                    <strong>Ornaments</strong>
                    <p>Dê uma decoração.</p>
                </li>
                <li>
                    <img src="../public/images/christmas_cane.png" alt="Bengala doce, com listras vermelhas e brancas.">
                    <strong>Candy</strong>
                    <p>Aproveite os doces natalinos.</p>
                </li>
                <li>
                    <img src="../public/images/sock.png" alt="Uma meia vermelha com a ponta verde pendurada na lareira.">
                    <strong>Very love</strong>
                    <p>Aproveite os sentimentos que duram para sempre.</p>
                </li>
            </ul>
        </article>
        <article>
            <img src="../public/images/shared.png" alt="Duas mãos segurando um presente.">
            <h2>Celebrate with much love!</h2>
            <p>
                Nestes feriados, festeje com muito amor e paz, oferecendo muitas bênçãos aos nossos entes queridos, amigos e vizinhos, desejando-lhes um Feliz Natal.
            </p>
            <a href="">
                <img src="../public/images/icons/gift_icon.svg" alt="Caixa de presente.">
                Fazer uma doação
            </a>
        </article>
    </main>
    <footer>
        <a href="#">
            <img src="../public/images/icons/noel_icon.svg" alt="Senhor com barba branca, gorro vermelho, representando o papai noel">
            Happy Christmas
        </a>
        <ul>
            <li>
                <img src="../public/images/icons/twitter.svg" alt="Passaro azul, simbolizando a logo da rede social Twitter.">
            </li>
            <li>
                <img src="../public/images/icons/youtube.svg" alt="Retangulo com um triangulo virado para a direita, representando a logo do Youtube.">
            </li>
            <li>
                <img src="../public/images/icons/linkedin.svg" alt="A letra 'i' e 'n', representando a logo da rede social LinkedIn.">
            </li>
            <li>
                <img src="../public/images/icons/instagram.svg" alt="Quadrado com uma bola no meio, representando a logo da rede social Instagram.">
            </li>
            <li>
                <img src="../public/images/icons/facebook.svg" alt="A letra 'f', representando a logo da rede social Facebook.">
            </li>
        </ul>
    </footer>
</body>
</html>